/*start*/
@font-face {
    font-family: checkbox-font;
    src: url(fonts/CroissantOne-dpgZ.ttf);
}

.reverse-reverb-checkbox span {
    font-size: 14px;
    font-family: checkbox-font;
}

.reverse-reverb-checkbox input {
    appearance: none;
    background-color: #dfe1e4;
    border-radius: 72px;
    border-style: none;
    flex-shrink: 0;
    height: 20px;
    margin: 0;
    position: relative;
    width: 30px;
}

.reverse-reverb-checkbox input::before {
    bottom: -6px;
    content: "";
    left: -6px;
    position: absolute;
    right: -6px;
    top: -6px;
}

.reverse-reverb-checkbox input,
.reverse-reverb-checkbox input::after {
    transition: all 100ms ease-out;
}

.reverse-reverb-checkbox input::after {
    background-color: #fff;
    border-radius: 50%;
    content: "";
    height: 14px;
    left: 3px;
    position: absolute;
    top: 3px;
    width: 14px;
}

.reverse-reverb-checkbox input:hover {
    background-color: #c9cbcd;
    transition-duration: 0s;
    cursor: pointer;
}

.reverse-reverb-checkbox input:checked {
    background-color: #6e79d6;
}

.reverse-reverb-checkbox input:checked::after {
    background-color: #fff;
    left: 13px;
}

.reverse-reverb-checkbox :focus:not(.focus-visible) {
    outline: 0;
}

.reverse-reverb-checkbox input:checked:hover {
    background-color: #535db3;
}
/*end*/
