.audio-slider{
    background-color: transparent;
    -webkit-appearance: none;
}

.audio-slider:focus {
    outline: none;
}

.audio-slider::-webkit-slider-runnable-track {
    background: Khaki;
    height: 8px;
    -webkit-appearance: none;
    cursor: pointer;
    border-radius: 4px;
}

.audio-slider::-webkit-slider-thumb {
    width: 18px;
    height: 34px;
    background: url('../images/slider.png') no-repeat;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -13px;
}

.audio-slider::-webkit-slider-runnable-track:active {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}


